<?xml version="1.0"?>
<launch>
  <!-- Load the environment and Gazebo -->
  <arg name="debug" default="false"/>
  <arg name="use_ign" default="true"/>
  <arg name="simcomms" default="true"/>
  <arg name="scenario" default="tunnel_practice_2"/>
  <arg name="voxblox" default="false"/>
  <arg name="ground" default="true"/>
  <arg name="air" default="false"/>
  <arg name="beacons1" default="false"/>
  <arg name="beacons2" default="false"/>
  <arg name="extra_gazebo_args" default=""/>

  <group if="$(arg use_ign)">
    <group if="$(arg simcomms)">
      <include file="$(env HOME)/marble/scripts/robots_ign.launch">
        <arg name="ground" value="$(arg ground)"/>
        <arg name="air" value="$(arg air)"/>
        <arg name="beacons1" value="$(arg beacons1)"/>
        <arg name="beacons2" value="$(arg beacons2)"/>
      </include>
    </group>
  </group>

  <group unless="$(arg use_ign)">
    <param name="subt/gazebo_worlds_dir" value="$(find subt_gazebo)/worlds/" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name"
           value="$(find subt_gazebo)/worlds/$(arg scenario).world" />
      <arg name="paused" value="false"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="gui" value="false"/>
      <arg name="headless" value="false"/>
      <arg name="debug" value="$(arg debug)"/>
      <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args) --verbose"/>
    </include>

    <!-- Load our robots.  May want to add parameters to decide which robots. -->
    <include file="$(env HOME)/marble/scripts/robots_$(arg scenario).launch" />
  </group>

  <!-- Start Voxblox.  May want to add parameter to launch either voxblox or octomap. -->
  <!-- <include file="$(env HOME)/marble/scripts/voxblox.launch"> -->
  <!--   <arg name="robot_name" value="X1" /> -->
  <!-- </include> -->
  <!--  -->
  <!-- <include file="$(env HOME)/marble/scripts/voxblox.launch"> -->
  <!--   <arg name="robot_name" value="X2" /> -->
  <!-- </include> -->
  <!--  -->
  <!-- <!&#45;&#45; Start filtering for voxblox, to remove the ground &#45;&#45;> -->
  <!-- <include file="$(env HOME)/marble/scripts/filter.launch"> -->
  <!--   <arg name="robot_name" value="X1" /> -->
  <!-- </include> -->
  <!--  -->
  <!-- <include file="$(env HOME)/marble/scripts/filter.launch"> -->
  <!--   <arg name="robot_name" value="X2" /> -->
  <!-- </include> -->

  <group if="$(arg ground)">
    <include file="$(env HOME)/marble/scripts/box_filter.launch" ns="X1">
      <arg name="vehicle" value="X1" />
    </include>

    <include file="$(env HOME)/marble/scripts/box_filter.launch" ns="X2">
      <arg name="vehicle" value="X2" />
    </include>

    <!-- Start Octomap -->
    <include file="$(find marble_mapping)/launch/marble_mapping.launch" ns="X1">
      <!-- <arg name="frame_id" value="world" /> -->
      <arg name="cloud_in" value="octomap_in" />
      <arg name="max_range" value="5.0" />
    </include>

    <include file="$(find marble_mapping)/launch/marble_mapping.launch" ns="X2">
      <!-- <arg name="frame_id" value="world2" /> -->
      <!-- <arg name="resolution" value="0.1" /> -->
      <arg name="cloud_in" value="octomap_in" />
      <arg name="max_range" value="5.0" />
    </include>
  </group>

  <include file="$(find marble_mapping)/launch/marble_mapping_base.launch" ns="Base">
    <!-- <arg name="frame_id" value="world" /> -->
  </include>

  <group if="$(arg air)" ns="A01">
    <include file="$(env HOME)/marble/scripts/box_filter_air.launch">
      <arg name="vehicle" value="A01" />
    </include>

    <!-- <node name="relay_ouster" type="relay" pkg="topic_tools" args="octomap_in vb_cloud"/> -->
    <!-- <node name="relay_up_pico_flexx" type="relay" pkg="topic_tools" args="tof_top/depth/points vb_cloud"/> -->
    <!-- <node name="relay_down_pico_flexx" type="relay" pkg="topic_tools" args="tof_bottom/depth/points vb_cloud"/> -->

    <!-- <node name="relay_ouster" type="relay" pkg="topic_tools" args="points"/> -->
    <node name="relay_up_pico_flexx" type="relay" pkg="topic_tools" args="tof_top/depth/points points"/>
    <node name="relay_down_pico_flexx" type="relay" pkg="topic_tools" args="tof_bottom/depth/points points"/>


    <include file="$(find marble_mapping)/launch/marble_mapping.launch">
      <!-- <arg name="frame_id" value="world" /> -->
      <!-- <arg name="cloud_in" value="vb_cloud" /> -->
      <arg name="cloud_in" value="octomap_in" />
      <arg name="max_range" value="10.0" />
    </include>

    <group if="$(arg voxblox)">
      <include file="$(env HOME)/marble/scripts/voxblox_air.launch">
      </include>
    </group>
  </group>
</launch>
