<?xml version="1.0"?>
<launch>
  <!-- Load the environment and Gazebo -->
  <arg name="debug" default="false"/>
  <arg name="use_ign" default="true"/>
  <arg name="scenario" default="tunnel_practice_2"/>
  <arg name="beacons1" default="false"/>
  <arg name="beacons2" default="false"/>
  <arg name="extra_gazebo_args" default=""/>

  <group if="$(arg use_ign)">
    <include file="$(env HOME)/marble/scripts/robots_ign.launch">
      <arg name="beacons1" value="$(arg beacons1)"/>
      <arg name="beacons2" value="$(arg beacons2)"/>
    </include>
  </group>

  <group unless="$(arg use_ign)">
    <param name="subt/gazebo_worlds_dir" value="$(find subt_gazebo)/worlds/" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name"
           value="$(find subt_gazebo)/worlds/$(arg scenario).world" />
      <arg name="paused" value="false"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="gui" value="false"/>
      <arg name="headless" value="false"/>
      <arg name="debug" value="$(arg debug)"/>
      <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args) --verbose"/>
    </include>

    <!-- Load our robots.  May want to add parameters to decide which robots. -->
    <include file="$(env HOME)/marble/scripts/robots_$(arg scenario).launch" />
  </group>

  <!-- Start Voxblox.  May want to add parameter to launch either voxblox or octomap. -->
  <!-- <include file="$(env HOME)/marble/scripts/voxblox.launch"> -->
  <!--   <arg name="robot_name" value="X1" /> -->
  <!-- </include> -->
  <!--  -->
  <!-- <include file="$(env HOME)/marble/scripts/voxblox.launch"> -->
  <!--   <arg name="robot_name" value="X2" /> -->
  <!-- </include> -->
  <!--  -->
  <!-- <!&#45;&#45; Start filtering for voxblox, to remove the ground &#45;&#45;> -->
  <!-- <include file="$(env HOME)/marble/scripts/filter.launch"> -->
  <!--   <arg name="robot_name" value="X1" /> -->
  <!-- </include> -->
  <!--  -->
  <!-- <include file="$(env HOME)/marble/scripts/filter.launch"> -->
  <!--   <arg name="robot_name" value="X2" /> -->
  <!-- </include> -->

  <!-- Start Octomap -->
  <include file="$(env HOME)/marble/scripts/octomap.launch">
    <arg name="robot_name" value="X1" />
    <!-- <arg name="frame_id" value="world" /> -->
  </include>

  <include file="$(env HOME)/marble/scripts/octomap.launch">
    <arg name="robot_name" value="X2" />
    <!-- <arg name="frame_id" value="world2" /> -->
    <!-- <arg name="resolution" value="0.1" /> -->
  </include>

</launch>
