<?xml version="1.0" ?>
<launch>
    <arg name="testRelay" default="false" />
    <arg name="mappingRelay" default="false" />
    <arg name="ipAddress" default="127.0.0.1" />

    <include file="$(find marble_mapping)/launch/marble_mapping_base.launch" ns="Base">
        <arg name="resolution" value="0.15"/>
        <arg name="merged_resolution" value="0.15"/>
    </include>
  <include file="$(find merge_poses_pkg)/launch/merge_poses_ma.launch" />

  <include file="$(find mapping_relay)/launch/test_mapping_relay.launch" if="$(arg testRelay)">
    <arg name="mapping_server_ip" value="$(arg ipAddress)" />
  </include>
  <include file="$(find mapping_relay)/launch/mapping_relay.launch" if="$(arg mappingRelay)">
    <arg name="mapping_server_ip" value="$(arg ipAddress)" />
  </include>

 </launch>
