<?xml version="1.0" ?>
<launch>
  <arg name="H01" default="false" />
  <arg name="H02" default="false" />
  <arg name="T01" default="false" />
  <arg name="T02" default="false" />
  <arg name="L01" default="false" />
  <arg name="D01" default="false" />
  <arg name="D02" default="false" />
  <arg name="A01" default="false" />
  <arg name="X1" default="false" />
  <arg name="X2" default="false" />

  <node pkg="rviz" type="rviz" name="marble_gui" args="-d $(env HOME)/base_station/multi_agent.rviz" respawn="true" />

  <!-- Spawn each robot's window and TF -->
  <group if="$(arg H01)">
    <include file="$(find marble_husky_base)/launch/description.launch">
      <arg name="name" value="H01" />
    </include>
    <include file="$(find odom_to_tf)/launch/odom_to_tf.launch">
      <arg name="vehicle" value="H01" />
    </include>
    <node pkg="rviz" type="rviz" name="marble_h01" args="-d $(env HOME)/base_station/h01.rviz" respawn="true" />
  </group>

  <group if="$(arg H02)">
    <include file="$(find marble_husky_base)/launch/description.launch">
      <arg name="name" value="H02" />
    </include>
    <include file="$(find odom_to_tf)/launch/odom_to_tf.launch">
      <arg name="vehicle" value="H02" />
    </include>
    <node pkg="rviz" type="rviz" name="marble_h02" args="-d $(env HOME)/base_station/h02.rviz" respawn="true" />
  </group>

  <group if="$(arg T01)">
    <include file="$(find marble_hd2_base)/launch/description.launch">
      <arg name="name" value="T01" />
    </include>
    <include file="$(find odom_to_tf)/launch/odom_to_tf.launch">
      <arg name="vehicle" value="T01" />
    </include>
    <node pkg="rviz" type="rviz" name="marble_t01" args="-d $(env HOME)/base_station/t01.rviz" respawn="true" />
  </group>

  <group if="$(arg T02)">
    <include file="$(find marble_hd2_base)/launch/description.launch">
      <arg name="name" value="T02" />
    </include>
    <include file="$(find odom_to_tf)/launch/odom_to_tf.launch">
      <arg name="vehicle" value="T02" />
    </include>
    <node pkg="rviz" type="rviz" name="marble_t02" args="-d $(env HOME)/base_station/t02.rviz" respawn="true" />
  </group>

  <group if="$(arg A01)">
    <include file="$(find marble_qav500_base)/launch/description.launch">
      <arg name="name" value="A01" />
    </include>
    <include file="$(find odom_to_tf)/launch/odom_to_tf.launch">
      <arg name="vehicle" value="A01" />
    </include>
    <node pkg="rviz" type="rviz" name="marble_a01" args="-d $(env HOME)/base_station/a01.rviz" respawn="true" />
  </group>

  <group if="$(arg L01)">
    <include file="$(find marble_hd2_base)/launch/description.launch">
      <arg name="name" value="L01" />
    </include>
    <include file="$(find odom_to_tf)/launch/odom_to_tf.launch">
      <arg name="vehicle" value="L01" />
    </include>
    <node pkg="rviz" type="rviz" name="marble_l01" args="-d $(env HOME)/base_station/l01.rviz" respawn="true" />
  </group>

  <group if="$(arg D01)">
    <include file="$(find marble_spot_base)/launch/description.launch">
      <arg name="name" value="D01" />
    </include>
    <include file="$(find odom_to_tf)/launch/odom_to_tf.launch">
      <arg name="vehicle" value="D01" />
    </include>
    <node pkg="rviz" type="rviz" name="marble_d01" args="-d $(env HOME)/base_station/d01.rviz" respawn="true" />
  </group>

  <group if="$(arg D02)">
    <include file="$(find marble_spot_base)/launch/description.launch">
      <arg name="name" value="D02" />
    </include>
    <include file="$(find odom_to_tf)/launch/odom_to_tf.launch">
      <arg name="vehicle" value="D02" />
    </include>
    <node pkg="rviz" type="rviz" name="marble_d02" args="-d $(env HOME)/base_station/d02.rviz" respawn="true" />
  </group>

  <group if="$(arg X1)">
    <include file="$(find marble_husky_base)/launch/description.launch">
      <arg name="name" value="X1" />
    </include>
    <include file="$(find odom_to_tf)/launch/odom_to_tf.launch">
      <arg name="vehicle" value="X1" />
    </include>
    <node pkg="rviz" type="rviz" name="marble_x1" args="-d $(env HOME)/base_station/x1.rviz" respawn="true" />
  </group>

  <group if="$(arg X2)">
    <include file="$(find marble_hd2_base)/launch/description.launch">
      <arg name="name" value="X2" />
    </include>
    <include file="$(find odom_to_tf)/launch/odom_to_tf.launch">
      <arg name="vehicle" value="X2" />
    </include>
    <node pkg="rviz" type="rviz" name="marble_x2" args="-d $(env HOME)/base_station/x2.rviz" respawn="true" />
  </group>

 </launch>
